.mediumButton {
    position: absolute;
    /*width: 50px;*/
    /*height: 50px;*/
    /*border-radius: 25%;*/
    display: inline-block;
    transition-duration: 0.2s;
    background-color: white;
    outline: none;
    font-family: "Comic Sans MS", cursive;
    font-size: 16px;
}

.mediumButton:hover {
    color: white;
}

.mediumYellow {
    color: #FABC16;
    border: 4px solid #FABC16;
}

.mediumRed {
    color: red;
    border: 4px solid red;
}

.mediumBlue {
    color: #02B2E7;
    border: 4px solid #02B2E7;
}

.mediumYellow:hover {
    background-color: #FABC16;
}

.mediumRed:hover {
    background-color: red;
}

.mediumBlue:hover {
    background-color: #02B2E7;
}

.bigButton {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: inline-block;
    transition-duration: 0.2s;
    background-color: white;
    color: black;
    border: 4px solid #FABC16;
    font-family: "Comic Sans MS", cursive;
    font-size: 16px;
    outline: none;
}

.bigButton:hover {
    font-size: 1px;
}

.bigYellow {
    border: 4px solid #FABC16;
}

.bigRed {
    border: 4px solid red;
}

.bigBlue {
    border: 4px solid #02B2E7;
}

.bigYellow:hover {
    background-color: #FABC16;
    color: #FABC16;
    border: 20px solid #FABC16;
}

.bigRed:hover {
    background-color: red;
    color: red;
    border: 20px solid red;
}

.bigBlue:hover {
    background-color: #02B2E7;
    color: #02B2E7;
    border: 20px solid #02B2E7;
}