#chatsBox {
    width: 1200px;
    text-align: center;
}

p {
    color: black;
    font-family: "Comic Sans MS", cursive;
    font-size: 20px;
}

.userBox {
    position: inherit;
    height: 80px;
    width: 1196px;
    color: black;
    font-family: "Comic Sans MS", cursive;
    font-size: 20px;
    border-radius: 50px;
}

.avatar {
    position: absolute;
    left: 0px;
    max-width: 80px;
    max-height: 80px;
    border-radius: 50px;
}

.userInfo {
    position: absolute;
    top: 25px;
    left: 100px;
}

.showButton {
    top: 15px;
    left: 470px;
    height: 50px;
    width: 150px;
    border-radius: 50px;
}

.messageCnt {
    position: absolute;
    top: 25px;
    left: 585px;
}

.openChatButton {
    top: 15px;
    left: 855px;
    height: 50px;
    width: 190px;
    border-radius: 50px;
}