#mainBox {
    position: relative;
    margin: auto;
    width: 1200px;
}

#chatBox {
    position: absolute;
    left: 295px;
    width: 600px;
    max-height: 600px;
    background-color: white;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: auto;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.userBox {
    position: absolute;
    top: 0;
    height: 300px;
    width: 270px;
}

.avatarBox {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 220px;
    height: 220px;
    padding: 0 0 0 0;
    text-align: center;
}

.userData {
    position: absolute;
    top: 220px;
    left: 20px;
    color: black;
    font-family: "Comic Sans MS", cursive;
    font-size: 20px;
}

img {
    max-height: 220px;
    max-width: 220px;
    border-radius: 50%;
}

#spectatorBox {
    left: 925px;
}

#companionBox {
    left: -5px;
}

table {
    width: 100%;
}

tr {
    height: 150px;
    width: 100%;
}

td {
    width: 50%;
}

.alias {
    text-align: left;
    padding: 15px;
    background-color: rgba(2, 178, 231, 0.11);
    border: 2px solid #02B2E7;
    border-radius: 0px 30px 30px 30px;
    font-family: "Comic Sans MS", cursive;
    font-size: 20px;
    word-wrap: break-word;
}

.self {
    text-align: right;
    padding: 15px;
    border: 2px solid #02B2E7;
    border-radius: 30px 0px 30px 30px;
    font-family: "Comic Sans MS", cursive;
    font-size: 20px;
    word-wrap: break-word;
}

#enterBox {
    position: absolute;
    left: 295px;
    top: 625px;
    width: 600px;
    height: 150px;
}

#sendButton {
    top: 35px;
    left: 490px;
}

#message {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 450px;
    height: 130px;
    border: 2px solid #02B2E7;
    padding: 50px 10px 0px 10px;
    border-radius: 30px 0px 30px 30px;
    resize: none;
    outline: none;
    color: black;
    font-family: "Comic Sans MS", cursive;
    font-size: 20px;
    text-align: center;
}