#box {
    width: 1205px;
    position: relative;
    margin: auto;
    text-align: center;
}

#groupLeftBox {
    top: 5px;
    position: absolute;
    left: -6px;
    height: 270px;
    width: 400px;
}

#discusName {
    position: absolute;
    top: 20px;
    color: #000000;
    font-size: 20px;
    font-family: "Comic Sans MS", cursive;
    width: 100%;
    text-align: center;
}

#discusCnt {
    position: absolute;
    top: 70px;
    color: #000000;
    font-size: 18px;
    font-family: "Comic Sans MS", cursive;
    width: 100%;
    text-align: center;
}

#cntValue {
    position: absolute;
    margin: 0;
    top: 0;
    left: 260px;
}

#discusMembers {
    position: absolute;
    top: 100px;
    color: #000000;
    font-size: 18px;
    font-family: "Comic Sans MS", cursive;
    width: 100%;
    text-align: center;
}

#memberValue {
    position: absolute;
    margin: 0;
    top: 0;
    left: 260px;
}

#discusStatusBox {
    position: absolute;
    top: 140px;
}

#statusField {
    top: 15px;
    width: 180px;
    left: 90px;
    text-align: center;
}

#discusStatus {
    position: absolute;
    left: 130px;
    top: 8px;
    width: 100px;
    color: #000000;
    font-size: 16px;
    font-family: "Comic Sans MS", cursive;
    text-align: left;
}

#statusHint {
    top: 8px;
    left: 30px;
}

#status {
    width: 300px;
}

#discusAccessBox {
    position: absolute;
    top: 190px;
}

#accessField {
    top: 15px;
    width: 180px;
    left: 90px;
    text-align: center;
}

#discusAccess {
    position: absolute;
    left: 130px;
    top: 8px;
    width: 100px;
    color: #000000;
    font-size: 16px;
    font-family: "Comic Sans MS", cursive;
    text-align: left;
}

#accessHint {
    top: 8px;
    left: 30px;
}

#applyButton {
    top: 160px;
    left: 290px;
}

#groupRightBox {
    top: 5px;
    position: absolute;
    left: 430px;
    height: 1000px;
    width: 766px;
}

#messagesBox {
    position: relative;
    width: 766px;
}

#newMessageBox {
    margin: 10px;
    width: 743px;
    height: 140px;
    transition-duration: 0.0ms;
}

#readOnlyMessage {
    position: absolute;
    top: 40px;
    left: 100px;
    color: #000000;
    font-size: 25px;
    font-family: "Comic Sans MS", cursive;
}

#message {
    top: 30px;
    height: 100px;
    padding: 30px 10px 0 10px;
    resize: none;
    width: 570px;
    left: 40px;
}

#writeButton {
    left: 640px;
    top: 40px;
}

#pagination {
    display: table;
    margin: auto;
    text-align: center;
}

.pageBox {
    position: relative;
    display: inline-block;
    min-width: 21px;
    min-height: 21px;
    padding: 5px;
    margin: 0px 10px 5px 10px;
    border: 2px solid #02B2E7;
    border-radius: 20px;
    font-size: 15px;
    font-family: "Comic Sans MS", cursive;
}

.pageBox:hover {
    transition-duration: 0.2s;
    border-color: #FABC16;
    font-family: "Comic Sans MS", cursive;
}

.active {
    background-color: #02B2E7;
    color: white;
}

a {
    top: 0px;
    display: block;
    text-align: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

#messageBox {
    position: relative;
    min-height: 50px;
    width: 655px;
    margin: 5px 10px 5px 10px;
    padding: 30px 10px 10px 80px;
    color: black;
    font-family: "Comic Sans MS", cursive;
    font-size: 20px;
    word-wrap: break-word;
    border-radius: 35px;
}

.authorInfo {
    position: absolute;
    left: 80px;
    top: 0;
    color: #868686;
    font-family: "Comic Sans MS", cursive;
    font-size: 15px;
}

.avatar {
    position: absolute;
    left: 0;
    top: 0;
    width: 70px;
    height: 70px;
    border-radius: 35px;
}



