#box {
    position: relative;
    width: 1200px;
}

#errorBox {
    top: 100px;
    margin: auto;
    width: 600px;
    height: 300px;
    text-align: center;
    color: black;
    font-family: "Comic Sans MS", cursive;
    font-size: 25px;
}

#message {
    position: relative;
    top: 120px;
    margin: auto;
}