#box {
    width: 1205px;
    position: relative;
    margin: 20px auto;
    text-align: center;
}

#friendsBox, #requestBox, #subscribersBox, #subscriptionsBox {
    position: relative;
    width: 1200px;
}

p {
    color: black;
    font-family: "Comic Sans MS", cursive;
    font-size: 20px;
    left: 50%;
}

.userBox {
    position: inherit;
    height: 80px;
    width: 1196px;
    color: black;
    font-family: "Comic Sans MS", cursive;
    font-size: 20px;
    border-radius: 50px;
}

.avatar {
    position: absolute;
    left: 0px;
    max-width: 80px;
    max-height: 80px;
    border-radius: 50px;
}

.userInfo {
    position: absolute;
    top: 25px;
    left: 100px;
}

.showButton {
    top: 15px;
    left: 400px;
    height: 50px;
    width: 150px;
    border-radius: 50px;
}

.requestAcceptButton {
    top: 15px;
    left: 605px;
    height: 50px;
    width: 150px;
    border-radius: 50px;
}

.removeFriendButton {
    top: 15px;
    left: 700px;
    height: 50px;
    width: 150px;
    border-radius: 50px;
}

.addFriendButton {
    top: 15px;
    left: 700px;
    height: 50px;
    width: 150px;
    border-radius: 50px;
}

.stopSubscribeButton {
    top: 15px;
    left: 700px;
    height: 50px;
    width: 150px;
    border-radius: 50px;
}

.requestRejectButton {
    top: 15px;
    left: 815px;
    height: 50px;
    width: 150px;
    border-radius: 50px;
}

.sendMessageButton {
    top: 15px;
    left: 1015px;
    height: 50px;
    width: 150px;
    border-radius: 50px;
}