body {
    background-image: url("/resources/img/background.png");
    background-repeat: repeat;
    background-size: 22%;
    margin: 0;
}

select {
    text-align-last: center;
    color: #868686;
}

.minorBox {
    border: 2px solid #02b2e7;
    padding: 0 0 0 0;
    border-radius: 30px;
    text-align: center;
}

.majorBox {
    position: relative;
    margin: 15px auto;
    border: 8px solid #02B2E7;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hint {
    position: absolute;
    color: #868686;
    font-size: 16px;
    font-family: "Comic Sans MS", cursive;
}

.field {
    position: absolute;
    height: 40px;
    border: 4px solid #02B2E7;
    border-radius: 30px;
    text-align: center;
    font-family: "Comic Sans MS", cursive;
    font-size: 20px;
    transition-duration: 0.2s;
    outline: none;
}

.field:focus {
    border: 4px solid red;
}

#upperBox {
    width: 1200px;
    height: 80px;
    margin: 0 auto;
    border-radius: 0 0 30px 30px;
    border-top-width: 0;
}

.upperBoxButton {
    height: 50px;
    width: 100px;
    border-radius: 50px;
}

#myInfo {
    width: 200px;
    height: 40px;
    top: 15px;
    left: 20px;
    position: absolute;
    margin: 5px 10px 5px 10px;
    font-family: "Comic Sans MS", cursive;
    font-size: 22px;
}

#myPageButton {
    top: 12px;
    left: 250px;
}

#logoutButton {
    top: 12px;
    left: 410px;
}

#searchField {
    position: absolute;
    top: 15px;
    width: 400px;
    height: 40px;
    left: 580px;
    border: 2px solid #02B2E7;
    border-radius: 30px;
}

#searchLabel {
    position: absolute;
    top: 5px;
    left: 10px;
    color: black;
    font-family: "Comic Sans MS", cursive;
    font-size: 20px;
}

#search {
    position: absolute;
    top: 4px;
    left: 85px;
    height: 30px;
    color: black;
    font-family: "Comic Sans MS", cursive;
    font-size: 20px;
    border: none;
    outline: none;
}

#searchButton {
    top: -5px;
    left: 420px;
    font-family: "Comic Sans MS", cursive;
    font-size: 16px;
}

.linkBox:hover {
    border-color: red;
}

.localeButton {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: none;
    outline: none;
    box-shadow: inset 0 0 6px 3px rgba(0, 0, 0, 0.2);
}

#languageRu {
    top: 10px;
    left: 1130px;
    background-image: url("/resources/img/rus.png");
    background-size: 100%;
}

#languageEn {
    top: 10px;
    left: 1130px;
    background-image: url("/resources/img/gb.png");
    background-size: 100%;
}