#box {
    width: 1205px;
    position: relative;
    margin: auto;
    text-align: center;
}

#groupLeftBox {
    top: 5px;
    position: absolute;
    left: -6px;
    height: 700px;
    width: 400px;
}

.avatarBox {
    position: absolute;
    top: 60px;
    left: 75px;
    width: 250px;
    height: 250px;
    padding: 0 0 0 0;
    text-align: center;
}

#groupName {
    position: absolute;
    top: 10px;
    width: 400px;
    color: black;
    font-family: "Comic Sans MS", cursive;
    font-size: 25px;
    text-align: center;
}

.avatar {
    max-height: 250px;
    max-width: 250px;
    border-radius: 30px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#groupDescription {
    position: absolute;
    top: 300px;
    width: 360px;
    height: 400px;
    color: black;
    font-family: "Comic Sans MS", cursive;
    font-size: 18px;
    margin: 20px;
    text-align: center;
}

#joinButton {
    left: 30px;
    top: 500px;
    height: 50px;
    width: 340px;
    border-radius: 50px;
}

#requestHint {
    position: absolute;
    left: 30px;
    top: 495px;
    color: black;
    font-family: "Comic Sans MS", cursive;
    font-size: 18px;
}

#leaveButton {
    left: 30px;
    top: 500px;
    height: 50px;
    width: 340px;
    border-radius: 50px;
}

#membersButton {
    left: 30px;
    top: 600px;
    height: 50px;
    width: 340px;
    border-radius: 50px;
}

#groupRightBox {
    top: 5px;
    position: absolute;
    left: 430px;
    height: 1000px;
    width: 766px;
}

#newDiscusBox {
    margin: 10px;
    width: 743px;
    height: 270px;
}

#newMessageBox {
    margin: 10px;
    width: 743px;
    height: 170px;
    resize: none;
}

#theme {
    top: 30px;
    width: 630px;
    left: 70px;
}

#message {
    top: 90px;
    height: 100px;
    padding: 30px 10px 0 10px;
    resize: none;
    width: 530px;
    left: 70px;
}

#status {
    top: 210px;
    width: 180px;
    left: 130px;
    text-align: center;
}

#statusHint {
    top: 218px;
    left: 70px;
}

#access {
    top: 210px;
    width: 180px;
    left: 420px;
    text-align: center;
}

#accessHint {
    top: 218px;
    left: 360px;
}

#startButton {
    left: 630px;
    top: 100px;
}

#discusBox {
    position: relative;
    height: 50px;
    width: 740px;
    margin: 5px 10px 5px 10px;
}

.discusName {
    width: 100%;
    position: absolute;
    color: black;
    font-family: "Comic Sans MS", cursive;
    font-size: 18px;
    text-align: center;
}

.discusMessages {
    position: absolute;
    top: 20px;
    left: 50px;
    color: #868686;
    font-family: "Comic Sans MS", cursive;
    font-size: 14px;
}

.discusMembers {
    position: absolute;
    top: 20px;
    left: 200px;
    color: #868686;
    font-family: "Comic Sans MS", cursive;
    font-size: 14px;
}

.discusStatus {
    position: absolute;
    top: 20px;
    left: 450px;
    height: 30px;
    color: #868686;
    font-family: "Comic Sans MS", cursive;
    font-size: 14px;
}

.discusAccess {
    position: absolute;
    top: 20px;
    left: 600px;
    height: 30px;
    color: #868686;
    font-family: "Comic Sans MS", cursive;
    font-size: 14px;
}

.option {
    margin: 0;
}

/*#messageBox {*/
/*    position: relative;*/
/*    height: 50px;*/
/*    width: 740px;*/
/*    margin: 5px 10px 5px 10px;*/
/*}*/

.link {
    position: absolute;
    top: 0px;
    display: block;
    text-align: center;
    height: 100%;
    width: 100%;
}

