#box {
    width: 1205px;
    position: relative;
    margin: 20px auto;
    text-align: center;
}

#pageName {
    padding: 20px;
}

#groupsBox {
    left: -6px;
    width: 1203px;
    color: black;
    font-family: "Comic Sans MS", cursive;
    font-size: 25px;
}

.groupBox {
    position: inherit;
    height: 160px;
    width: 1196px;
    margin: 1px;
    color: black;
    font-family: "Comic Sans MS", cursive;
    font-size: 20px;
    border-radius: 80px;
}

.avatar {
    position: absolute;
    left: 0px;
    max-width: 160px;
    max-height: 160px;
    border-radius: 80px;
}

.groupName {
    position: absolute;
    top: 65px;
    left: 200px;
}

.groupDescription {
    margin: 20px;
    position: absolute;
    left: 350px;
    height: 120px;
    width: 600px;
    word-wrap: break-word;
    text-align: center;
    font-size: 18px;
}

.showButton {
    height: 50px;
    width: 150px;
    left: 1000px;
    top: 20px;
    border-radius: 50px;
}

.leaveButton {
    left: 1000px;
    top: 90px;
    height: 50px;
    width: 150px;
    border-radius: 50px;
}

#createGroupBox {
    position: relative;
    min-height: 100px;
}

#createButton {
    /*position: relative;*/
    top: 20px;
    left: 1100px;
}

#createGroupBox {
    position: absolute;
    top: 50px;
    left: 300px;
    height: 550px;
    width: 600px;
    z-index: 100;
    visibility: hidden;
}

#groupName {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 500px;
    height: 40px;
    border: 4px solid #02B2E7;
    border-radius: 30px;
    text-align: center;
    font-family: "Comic Sans MS", cursive;
    font-size: 20px;
    outline: none;
}

#errorField {
    top: 75px;
    position: absolute;
    width: 100%;
    text-align: center;
    font-family: "Comic Sans MS", cursive;
    font-size: 18px;
    color: red;
}

#description {
    position: absolute;
    top: 120px;
    left: 50px;
    width: 500px;
    height: 300px;
    border: 4px solid #02B2E7;
    border-radius: 30px;
    color: black;
    font-family: "Comic Sans MS", cursive;
    font-size: 20px;
    text-align: center;
    outline: none;
    resize: none;
}

#saveButton {
    top: 440px;
    left: 400px;
    transition-duration: 0s;
}

#cancelButton {
    top: 440px;
    left: 120px;
    transition-duration: 0s;
}

#background {
    position: absolute;
    width: 100%;
    height: 1800px;
    top: 0;
    left: 0;
    opacity: 0.50;
    background-color: black;
    z-index: 90;
    visibility: hidden;
}
