#upperBox {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.box {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 90px;
    left: 0;
    right: 0;
    width: 1000px;
    height: 1330px;
}

.boxButton {
    width: 100px;
    border-radius: 50px;
    font-size: 18px;
}

.avatarBox {
    position: inherit;
    width: 400px;
    height: 200px;
    margin: 30px;
    font-family: "Comic Sans MS", cursive;
    font-size: 20px;
}

.avatar {
    position: absolute;
    left: 0;
    max-height: 180px;
    max-width: 180px;
    margin: 10px;
    border-radius: 30px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#file {
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#fileLabel {
    position: absolute;
    top: 30px;
    left: 250px;
    width: 112px;
    height: 42px;
    border-radius: 50px;
    display: inline-block;
    text-align: center;
    border: 4px solid #02B2E7;
    background-image: url("/resources/img/choseHorisontal.png");
    background-size: 100%;
    outline: none;
}

#saveAvatarButton {
    top: 120px;
    left: 250px;
    height: 50px;
    width: 120px;
    border-radius: 50px;
}

#fileLabel:hover {
    background-color: #02B2E7;
    color: #02B2E7;
    font-size: 1px;
    background-image: none;
    outline: none;
}

.textField {
    position: relative;
    /*left: 15%;*/
    width: 250px;
    height: 40px;
    border: 4px solid #02B2E7;
    border-radius: 30px;
    text-align: center;
    font-family: "Comic Sans MS", cursive;
    font-size: 20px;
    transition-duration: 0.2s;
}

select {
    text-align-last: center;
}

.textField:focus {
    border: 4px solid red;
    outline: none;
}

.fields {
    position: absolute;
    top: 210px;
}

.fieldBox {
    position: relative;
    height: 40px;
    margin: 30px;
    line-height: 40px;
    vertical-align: center;
}

.label {
    position: center;
    font-family: "Comic Sans MS", cursive;
    font-size: 20px;
    vertical-align: middle;
}

.saved {
    position: center;
    color: grey;
    font-family: "Comic Sans MS", cursive;
    font-size: 20px;
    vertical-align: middle;
}

.changeButton, .saveButton {
    position: absolute;
    top: -5px;
    left: 660px;
    height: 50px;
    width: 120px;
    border-radius: 50px;
}

.phoneChangeButton, .phoneSaveButton {
    position: absolute;
    top: -5px;
    left: 800px;
    height: 50px;
    width: 120px;
    border-radius: 50px;
}

.smallButton {
    position: absolute;
    width: 40px;
    height: 40px;
    display: inline-block;
    background-color: white;
    border: 4px solid white;
    border-radius: 50%;
    transition-duration: 0.2s;
    outline: none;
}

.select {
    height: 40px;
    background-color: white;
    border: 4px solid #02B2E7;
    text-align: center;
    font-family: "Comic Sans MS", cursive;
    font-size: 20px;
    border-radius: 20px;
    outline: none;
}

#addButton {
    left: 550px;
    background-image: url("/resources/img/plus-green.png");
    background-size: 100%;
}

#addButton:hover {
    background-image: url("/resources/img/plus-white.png");
    background-color: green;
}

.phDelete {
    left: 600px;
    background-image: url("/resources/img/minus-red.png");
    background-size: 100%;
}

.phDelete:hover {
    background-image: url("/resources/img/minus-white.png");
    background-color: red;
}

.errorField {
    font-family: "Comic Sans MS", cursive;
    font-size: 20px;
    color: red;
}

#saveButton {
    position: absolute;
    top: -180px;
    left: 880px;
}