body {
    background-image: url("/resources/img/background.png");
    background-repeat: repeat;
    background-size: 22%;
    margin: 0;
}

div.logoText {
    font-family: "Comic Sans MS", cursive;
    font-size: 30px;
}

.welcome {
    display: block;
    text-align: center;
}

img.friends {
    display: block;
    margin: 0 auto;
    left: 600px;
    width: 800px;
}

#logBox {
    position: relative;
    width: 800px;
    height: 400px;
    margin: 50px auto;
    border: 8px solid #02B2E7;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

div.error {
    position: absolute;
    top: 117px;
    left: 305px;
    font-family: "Comic Sans MS", cursive;
    color: red;
}

.localeButton {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: none;
    outline: none;
    box-shadow: inset 0 0 6px 3px rgba(0, 0, 0, 0.2);
}

#languageRu {
    top: 15px;
    left: 735px;
    background-image: url("/resources/img/rus.png");
    background-size: 100%;
}

#languageEn {
    top: 15px;
    left: 735px;
    background-image: url("/resources/img/gb.png");
    background-size: 100%;
}

#login {
    position: absolute;
    top: 50px;
    left: 25%;
    width: 400px;
    height: 60px;
    border: 4px solid #02B2E7;
    border-radius: 30px;
    text-align: center;
    font-family: "Comic Sans MS", cursive;
    font-size: 30px;
}

#login:focus {
    border: 4px solid red;
    outline: none;
}

#password {
    position: absolute;
    top: 150px;
    left: 25%;
    width: 400px;
    height: 60px;
    border: 4px solid #02B2E7;
    border-radius: 30px;
    text-align: center;
    font-family: "Comic Sans MS", cursive;
    font-size: 30px;
}

#password:focus {
    border: 4px solid red;
    outline: none;
}

#remember-me {
    position: relative;
    z-index: -1;
    opacity: 0;
}

#rmLabel {
    position: absolute;
    top: 272px;
    left: 376px;
}

#remember-me + #rmLabel {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

#remember-me + #rmLabel::before {
    content: '';
    display: inline-block;
    width: 3em;
    height: 3em;
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 1.50em;
    margin-right: 0.5em;
    background-color: #02B2E7;
    background-size: 100%;
    transition-duration: 0.2s;
}

#remember-me:checked + #rmLabel::before {
    background-image: url("/resources/img/R-blue.png");
    background-size: 100%
}

#remember-me:disabled + #rmLabel::before {
    background-color: #02B2E7;
}

#hint {
    position: absolute;
    top: 320px;
    left: 354px
}

#rmHint {
    position: absolute;
    top: 315px;
    left: 217px;
    color: #c1c3c6;
    font-family: "Comic Sans MS", cursive;
    font-size: 20px;
}

#enter {
    position: absolute;
    top: 250px;
    left: 500px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: inline-block;
    transition-duration: 0.2s;
    background-color: white;
    color: black;
    border: 4px solid #FABC16;
    font-family: "Comic Sans MS", cursive;
    font-size: 16px;
    outline: none;
}

#enter:hover {
    background-color: #FABC16;
    color: #FABC16;
    border: 30px solid #FABC16;
    font-size: 1px;
    outline: none;
}

#join {
    position: absolute;
    top: 250px;
    left: 220px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: inline-block;
    transition-duration: 0.2s;
    background-color: white;
    color: black;
    border: 4px solid red;
    font-family: "Comic Sans MS", cursive;
    font-size: 16px;
    outline: none;
}

#join:hover {
    background-color: red;
    color: red;
    border: 30px solid red;
    font-size: 1px;
    outline: none;
}