#box {
    width: 1205px;
    position: relative;
    margin: 20px auto;
    text-align: center;
}

.roleBox {
    width: 1200px;
    position: relative;
    text-align: center;
    color: black;
    font-family: "Comic Sans MS", cursive;
    font-size: 20px;
}

.memberBox {
    position: inherit;
    height: 80px;
    width: 1196px;
    color: black;
    font-family: "Comic Sans MS", cursive;
    font-size: 20px;
    border-radius: 50px;
}

.avatar {
    position: absolute;
    left: 0px;
    max-width: 80px;
    max-height: 80px;
    border-radius: 50px;
}

.userInfo {
    position: absolute;
    top: 25px;
    left: 100px;
}

.showButton {
    top: 15px;
    left: 400px;
    height: 50px;
    width: 150px;
    border-radius: 50px;
}

#requestBox {
    width: 1200px;
    position: relative;
    text-align: center;
    color: black;
    font-family: "Comic Sans MS", cursive;
    font-size: 20px;
}

.includeButton, .reduceButton, .raiseButton {
    top: 15px;
    left: 600px;
    height: 50px;
    width: 160px;
    border-radius: 50px;
}

.refuseButton, .removeButton {
    top: 15px;
    left: 800px;
    height: 50px;
    width: 160px;
    border-radius: 50px;
}

.giveButton {
    top: 15px;
    left: 1000px;
    height: 50px;
    width: 160px;
    border-radius: 50px;
}


