body {
    background-image: url("/resources/img/background.png");
    background-repeat: repeat;
    background-size: 22%;
    margin: 0;
}

#box {

}

div.fields {
    position: relative;
    width: 870px;
    height: 1250px;
    margin: 50px auto;
    border: 8px solid #02B2E7;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition-duration: 0.2s;
}

#pageWelcome {
    position: absolute;
    top: 20px;
    left: 280px;
    height: 40px;
    text-align: center;
    font-family: "Comic Sans MS", cursive;
    font-size: 40px;
}

#pageMessage {
    position: absolute;
    top: 90px;
    left: 140px;
    height: 40px;
    text-align: center;
    font-family: "Comic Sans MS", cursive;
    font-size: 20px;
    color: #585858
}

#arrow {
    position: absolute;
    top: 55px;
    left: 530px;
    width: 200px;
    height: 100px;
}

.button {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: inline-block;
    transition-duration: 0.2s;
    background-color: white;
    color: black;
    font-family: "Comic Sans MS", cursive;
    font-size: 16px;
    outline: none;
}

.button:hover {
    font-size: 1px;
    border: 30px solid;
    outline: none;
}

#jsonButton {
    top: 60px;
    left: 740px;
    border: 4px solid #02B2E7;
}

#jsonButton:hover {
    background-color: #02B2E7;
    color: #02B2E7;
    border: 30px solid #02B2E7;
}

.field {
    position: absolute;
    left: 7%;
    width: 300px;
    height: 40px;
    border: 4px solid #02B2E7;
    border-radius: 30px;
    text-align: center;
    font-family: "Comic Sans MS", cursive;
    font-size: 20px;
    transition-duration: 0.2s;
}

.field:focus {
    border: 4px solid red;
    outline: none;
}

.error {
    position: absolute;
    left: 7%;
    width: 1000px;
    height: 40px;
    border: none;
    text-align: left;
    font-family: "Comic Sans MS", cursive;
    font-size: 15px;
    color: red;
    transition-duration: 0.2s;
}

select {
    text-align-last: center;
}

#login {
    top: 150px;
}

#loginError {
    top: 190px;
}

#password {
    top: 220px;
}

#passwordError {
    top: 260px;
}

#repeatPassword {
    top: 290px;
}

#repeatPasswordError {
    top: 330px;
}

#firstName {
    top: 360px;
}

#firstNameError {
    top: 400px;
}

#secondName {
    top: 430px;
}

#secondNameError {
    top: 470px;
}

#lastName {
    top: 500px;
}

#lastNameError {
    top: 540px;
}

#birth {
    top: 640px;
}

#birthError {
    top: 680px;
}

#homeAddress {
    top: 710px;
}

#homeAddressError {
    top: 750px;
}

#workAddress {
    top: 780px;
}

#workAddressError {
    top: 820px;
}

#eMail {
    top: 850px;
}

#eMailError {
    top: 890px;
}

#icq {
    top: 920px;
}

#icqError {
    top: 960px;
}

#skype {
    top: 990px;
}

#skypeError {
    top: 1030px;
}

#additionally {
    top: 1060px;
    width: 630px;
    height: 140px;
    line-height: 130px;
}

#additionallyError {
    top: 1100px;
}

#enter {
    top: 1090px;
    left: 740px;
    border: 4px solid #FABC16;
}

#enter:hover {
    background-color: #FABC16;
    color: #FABC16;
    border: 30px solid #FABC16;
}

/*phones*/

.smallButton {
    position: absolute;
    width: 40px;
    height: 40px;
    display: inline-block;
    background-color: white;
    border: 4px solid white;
    border-radius: 50%;
    transition-duration: 0.2s;
    outline: none;
}

.phAdd {
    top: 570px;
    left: 91%;
    background-image: url("/resources/img/plus-green.png");
    background-size: 100%;
}

.phAdd:hover {
    background-image: url("/resources/img/plus-white.png");
    background-color: green;
}

.phDelete {
    left: 84%;
    background-image: url("/resources/img/minus-red.png");
    background-size: 100%;
}

.phDelete:hover {
    background-image: url("/resources/img/minus-white.png");
    background-color: red;
}


#phone1 {
    top: 570px
}

#phone1Error {
    top: 610px;
}

#description1 {
    top: 570px;
    left: 45%;
}

#description1Error {
    top: 610px;
    left: 45%;
}

#ph1Delete {
    top: 570px;
}

#phone2 {
    top: 640px
}

#phone2Error {
    top: 680px
}

#description2 {
    top: 640px;
    left: 45%;
}

#description2Error {
    top: 680px;
    left: 45%;
}

#ph2Delete {
    top: 640px;
}

#phone3 {
    top: 710px
}

#phone3Error {
    top: 750px
}

#description3 {
    top: 710px;
    left: 45%;
}

#description3Error {
    top: 750px;
    left: 45%;
}

#ph3Delete {
    top: 710px;
}

#phone4 {
    top: 780px
}

#phone4Error {
    top: 820px
}

#description4 {
    top: 780px;
    left: 45%;
}

#description4Error {
    top: 820px;
    left: 45%;
}

#ph4Delete {
    top: 780px;
}

#phone5 {
    top: 850px
}

#phone5Error {
    top: 890px
}

#description5 {
    top: 850px;
    left: 45%;
}

#description5Error {
    top: 890px;
    left: 45%;
}

#ph5Delete {
    top: 850px;
}

/*modal window*/
#jsonBox {
    position: absolute;
    top: 200px;
    width: 400px;
    height: 400px;
    left: 40%;
    border: 8px solid #02B2E7;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 100;
    visibility: hidden;
}

#file {
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#fileLabel {
    position: absolute;
    top: 40px;
    left: 70px;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    border: 4px solid #02B2E7;
    background-image: url("/resources/img/chose.png");
    background-size: 100%;
    outline: none;
}

#fileLabel:hover {
    background-color: #02B2E7;
    color: #02B2E7;
    font-size: 1px;
    background-image: none;
    outline: none;
}

#hideButton {
    top: 150px;
    left: 70px;
    border: 4px solid red;
    transition-duration: 0s;
}

#hideButton:hover {
    background-color: red;
    color: red;
}

#enterJson {
    top: 260px;
    left: 70px;
    border: 4px solid #FABC16;
    transition-duration: 0s;
}

#enterJson:hover {
    background-color: #FABC16;
    color: #FABC16;
}

#confirm {
    position: absolute;
    top: 700px;
    width: 400px;
    height: 200px;
    left: 250px;
    margin: 50px auto;
    border: 8px solid #02B2E7;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 100;
    visibility: hidden;
}

#Yes {
    top: 90px;
    left: 240px;
    border: 4px solid #FABC16;
    transition-duration: 0s;
}

#Yes:hover {
    border: 30px solid #FABC16;
    background-color: #FABC16;
    color: #FABC16;
}

#No {
    top: 90px;
    left: 80px;
    border: 4px solid red;
    transition-duration: 0s;
}

#No:hover {
    border: 30px solid red;
    background-color: red;
    color: red;
}

#confirmMessage {
    position: absolute;
    top: 30px;
    left: 170px;
    height: 40px;
    text-align: center;
    font-family: "Comic Sans MS", cursive;
    font-size: 20px;
    color: #585858
}

#background {
    position: absolute;
    width: 100%;
    height: 1800px;
    top: 0;
    left: 0;
    opacity: 0.50;
    background-color: black;
    z-index: 90;
    visibility: hidden;
}