#pagination {
    display: table;
    margin: 10px auto;
    text-align: center;
}

.pageBox {
    position: relative;
    display: inline-block;
    min-width: 21px;
    min-height: 21px;
    padding: 5px;
    margin: 0px 10px 5px 10px;
    border: 2px solid #02B2E7;
    border-radius: 20px;
    font-size: 15px;
    font-family: "Comic Sans MS", cursive;
}

.pageBox:hover {
    transition-duration: 0.2s;
    border-color: #FABC16;
    font-family: "Comic Sans MS", cursive;
}

.active {
    background-color: #02B2E7;
    color: white;
}

a {
    top: 0px;
    display: block;
    text-align: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

#bottomBox {
    margin: 15px auto;
    width: 1200px;
}

#searchResultsBox {
    position: inherit;
}

#buttonBox {
    position: inherit;
    height: 90px;
}


.bottomBoxButton {
    height: 50px;
    width: 100px;
    border-radius: 50px;
}

#usersButton {
    top: 20px;
    left: 350px;
    padding: 0;
}

#groupsButton {
    top: 20px;
    left: 750px;
    padding: 0;
}

#resultBox {
    position: inherit;
    height: 80px;
    width: 1196px;
    margin: 1px;
    color: black;
    font-family: "Comic Sans MS", cursive;
    font-size: 20px;
    border-radius: 80px;
}

.avatar {
    position: absolute;
    left: 0px;
    max-width: 80px;
    max-height: 80px;
    border-radius: 50px;
}

#resultInfo {
    position: absolute;
    top: 25px;
    left: 100px;
}

#showButton {
    top: 15px;
    left: 650px;
}

#deleteButton {
    top: 15px;
    left: 950px;
}