body {
    background-image: url("/resources/img/background.png");
    background-repeat: repeat;
    background-size: 22%;
    margin: 0;
}

p {
    color: black;
    font-family: "Comic Sans MS", cursive;
    font-size: 20px;
}

td {
    color: black;
    font-family: "Comic Sans MS", cursive;
    font-size: 20px;
}

.leftBoxButton {
    height: 50px;
    width: 260px;
    border-radius: 50px;
}

div.box {
    width: 1200px;
    height: 1000px;
    position: relative;
    margin: 20px auto;
}

div.leftBoxTop {
    position: absolute;
    width: 300px;
    height: 430px;
    left: -8px;
    border: 8px solid #02B2E7;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.avatarBox {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 250px;
    height: 250px;
    padding: 0 0 0 0;
    text-align: center;
}

img.avatar {
    max-height: 250px;
    max-width: 250px;
    border-radius: 30px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#userData {
    position: absolute;
    top: 270px;
    left: 25px;
    line-height: 0.9em;
}

div.leftBoxBot {
    width: 300px;
    height: 330px;
    position: absolute;
    left: -8px;
    top: 470px;
    border: 8px solid #02B2E7;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#fullInfo {
    top: 20px;
    left: 20px;
}

#chatButton {
    top: 20px;
    left: 20px;
}

#downloadUser {
    top: 80px;
    left: 20px;
}

#addFriendButton {
    top: 80px;
    left: 20px;
}

#acceptRequestButton {
    top: 80px;
    left: 20px;
}

#requestMessage {
    position: absolute;
    top: 70px;
    left: 30px;
}

#subscribeMessage {
    position: absolute;
    top: 70px;
    left: 30px;
}

#subscriberMessage {
    position: absolute;
    top: 70px;
    left: 30px;
}

#friendMessage {
    position: absolute;
    top: 70px;
    left: 30px;
}

#chats {
    top: 140px;
    left: 20px;
}

#cancelFriendButton {
    top: 140px;
    left: 20px;
}

#rejectRequestButton {
    top: 140px;
    left: 20px;
}

#addFriendSecondButton {
    top: 140px;
    left: 20px;
}

#stopSubscribeButton {
    top: 140px;
    left: 20px;
}

#removeFriendSecondButton {
    top: 140px;
    left: 20px;
}

#friends {
    top: 200px;
    left: 20px;
}

#groups {
    top: 260px;
    left: 20px;
}

div.rightBox {
    width: 865px;
    height: 1000px;
    position: absolute;
    left: 330px;
    border: 8px solid #02B2E7;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.wall {
    background-color: white;
    max-height: 830px;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: auto;
    border-radius: 30px;
}

div.newBrick {
    width: 870px;
    height: 150px;
}

textarea.newBrickText {
    position: absolute;
    top: 20px;
    left: 160px;
    width: 550px;
    height: 120px;
    border: 4px solid #02B2E7;
    border-radius: 30px;
    padding: 40px 10px 0 10px;
    outline: none;
    resize: none;
    color: black;
    font-family: "Comic Sans MS", cursive;
    font-size: 20px;
    text-align: center;
}

#file {
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#fileLabel {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    border: 4px solid #02B2E7;
    background-image: url("/resources/img/chose.png");
    background-size: 100%;
    outline: none;
}

#fileLabel:hover {
    background-color: #02B2E7;
    color: #02B2E7;
    font-size: 1px;
    background-image: none;
    outline: none;
}

#postButton {
    top: 40px;
    left: 750px;
}

tr.imgBrick {
    width: 890px;
    height: 400px;
    border-radius: 30px;
}

td.brickImgBox {
    width: 445px;
    height: 420px;
    max-height: 420px;
    max-width: 445px;
    border: 2px solid #02B2E7;
    padding: 0 0 0 0;
    border-radius: 30px;
    text-align: center;
}

img.brickImg {
    max-height: 400px;
    max-width: 400px;
    border-radius: 30px;
}

td.imgBrickTextBox {
    padding: 20px;
    max-height: 420px;
    max-width: 445px;
    width: 420px;
    text-align: center;
    border: 2px solid #02B2E7;
    border-radius: 30px;
    word-wrap: break-word;
}

tr.textBrick {
    width: 890px;
    height: 200px;
    /*border: 1px solid black;*/
    border-radius: 30px;
}

td.textBrickTextBox {
    padding: 20px;
    max-height: 420px;
    max-width: 890px;
    width: 820px;
    height: 200px;
    text-align: center;
    border: 2px solid #02B2E7;
    border-radius: 30px;
    word-wrap: break-word;
}

